a{
    text-decoration: none;
    color: white;
}
body,footer{
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}
.date h1{
    display: inline-flex;
    font-size: 20px;
    margin: 60px 0px  30px 150px;
    
    color: #64857a;
}
.firsth1{
    margin: 40px 30px 40px 150px;
    font-size: 59px;
    line-height: 1;
   display: inline-flex;
}
header{
    display: inline-flex;
}
.nav1 a{
    margin-right: 0px;
    margin-left: 10px;
    padding-left: 10px;
    width: 100%;
    font-size: 13px;
}
.row,.ali{
    min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.ali{
   background: #cbe2c1;
   background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: linear-gradient(to right, #a1d3b0, #f6f1d3);
   padding: 44px 0 22px 0;
 }
.section1{
    text-align: center;
}
.section1 p{
    font-size: 21px;
  line-height: 33px;
    margin-left: 20 px;
}
.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 80%;
}
.regform,.register-group{
   margin-left: 100px;
}
.regpage{
    background-color: white;
    display: inline-flex;
}
.last {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.last:hover {
  background: #77a198;
}
.regdiv{
    width: 50%;
    float: left;
}
.register-group select {
  height: 34px;
  width: 60px;
}
.register-group textarea {
  height: 78px;
}
.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}
form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.foot{
    display: inline-block;
     margin-right: px;
    margin-left: 700px;
   
    width: 100%;
    font-size: 12px;
}
.regform{
    float: right;
    width: auto;
}